h1 {
    text-align: center;
}

.imagem-sobre{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

body {
    background-color: #f5f5f5;

    /* font-family: Apple Chancery, cursive; */
}

figcaption{
    text-align: center;
}

.sobre{
    margin-left: 20px;
}

section p {
    font-size: 20px;
}

#botao{
    text-decoration: none;
    padding: 5px 30px;
    background-color: LightSteelBlue;
    color: navy;
    /* border: 1px solid navy; */
    border: none;
    border-radius: 20px;
    /* box-shadow: 4px 5px 4px navy; */

    
}

#botao:hover{
    padding-right: 90px;
    padding-left: 90px;
    box-shadow: 4px 5px 4px navy;
    transition: all 1s;
}
#escrever{
    text-align: center;
    margin-bottom: 20px;
}