{% extends 'base.html' %}  

{% block css%} <link rel="stylesheet" href="{{url_for('autobiografia.static', filename='css/autobiografia.css')}}"> {% endblock css %}
{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
<div class="container">
    <article>

<!--         <h1 id="titulo">Autobiografia</h1> -->

        <section id="autobiografia">
            <figure>
                <img src="https://cdn.pixabay.com/photo/2018/02/21/08/40/woman-3169726_960_720.jpg" alt="foto do usuário" id="foto" class="img-fluid">
            </figure>
            <h3 id="nome">{{ autobiografia.usuario.nome }}</h3>
            {{ autobiografia_texto | safe }}
            
            <p id="atualizacao">Última atualização: {{ autobiografia.data }}</p>
        </section>

    </article>

</div>
{% endblock conteudo %}