{% extends 'base.html' %}  

{% block css%} <link rel="stylesheet" href="{{url_for('autobiografia.static', filename='css/autobiografia.css')}}"> {% endblock css %}
{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
<div class="container">
    <article>

<!--         <h1 id="titulo">Autobiografia</h1> -->

        <section id="autobiografia">
            <figure>
                <img src="https://cdn.pixabay.com/photo/2018/02/21/08/40/woman-3169726_960_720.jpg" alt="foto do usuário" id="foto" class="img-fluid">
            </figure>
            <h3 id="nome">Ana Júlia Oliveira dos Santos</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            
            <p id="atualizacao">Última atualização: 01/15/2022 13h50</p>
        </section>

    </article>

</div>
{% endblock conteudo %}