{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('autenticacao.static', filename='css/cadastrar.css') }}"> {% endblock css %}

{% block titulo %}Cadastrar{% endblock titulo %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-warning text-center" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<header>
    <h1 id="titulo">Cadastro</h1>
</header>

<section id="formulario">
    <form action="{{url_for('autenticacao.cadastrar')}}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <img src="{{ url_for('autenticacao.static', filename='img/foto_usuario.png') }}" id="img"
            alt="foto do usuário"><br>
        <p id="mensagem-foto">A foto não é obrigatoria</p>

        {% if form.errors.foto %}
            <p style="margin-top: 10px; color:red; font-size:15px;"><i class="fas fa-exclamation-triangle"></i> <b>Erro</b>: Extensão não permitida</p>
        {% endif %}

        {{ form.foto.label}}<br>
        {{ form.foto(onchange="previewImagem()",class="campo-form", accept="image/*") }}<br>
        <!-- <label for="foto">Foto:</label><br>
        <input type="file" id="foto" name="foto" accept="image/*" onchange="previewImagem()"><br> -->

        {{ form.nome.label}}<br>
        {{ form.nome(class="campo-form") }} <br>
        <!-- <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" class="campo-form" required><br> -->

        {{ form.email.label }}<br>
        {{ form.email(class="campo-form") }}<br>
        <!-- <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" class="campo-form" required><br> -->
        {% if form.errors.senha %}
            <p style="margin-top: 10px; color:red; font-size:15px;"><i class="fas fa-exclamation-triangle"></i> <b>Erro</b>: As senhas não conferem!</p>
        {% endif %}
        {{ form.senha.label }}<br>
        {{ form.senha(class="campo-form") }}<br>
        <!-- <label for="senha">Senha:</label><br>
        <input type="password" id="senha" id="senha" class="campo-form" required><br> -->

        {{ form.confirm.label}}<br>
        {{ form.confirm(class="campo-form") }} <br>
        
        {% if form.errors.recaptcha %}
            <p style="margin-top: 10px; color:orangered; font-size:15px;"><i class="fas fa-exclamation-triangle"></i> Preencha o captcha</p>
        {% endif %}
        <div id="recaptcha">
            {{ form.recaptcha}}
        </div>
        

        <input type="submit" id="submit-cadastrar" value="cadastrar" class="campo-form">

        <p id="pergunta" class="pergunta">Já é registrado?</p>
        <a href="{{ url_for('autenticacao.login') }}" class="pergunta">Faça o login</a>

    </form>

    <script src="{{ url_for('autenticacao.static', filename='js/preview_img.js') }}"></script>
</section>

{% endblock conteudo %}