{% extends 'base.html' %}  

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}  

<h1 class="text-center">Home</h1>
<p class="text-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam autem expedita totam incidunt dolor itaque esse recusandae tenetur sequi dolores animi, laboriosam a mollitia unde quasi velit quia non. Quia?</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium sit rerum odio sequi doloribus pariatur hic similique, nobis recusandae illo laboriosam libero architecto voluptatibus rem maiores veritatis, mollitia dolor ipsa!</p>

{% endblock conteudo %}