{% extends 'base.html' %}  

{% block css%} <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> {% endblock css %}
{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}  

{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-warning text-center" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<header class="row">
    <section class="col-sm-6">
        <h1>autobiographiae</h1>
        <p class="sobre"><strong>autobiographiae</strong> é uma plataforma onde você pode compartilhar a sua história de vida e ler a história de vida de pessoas comuns. Você não precisa ser famoso ou ter feito grande contribuição para a humanidade, lembre-se todos nós temos uma história que vale a pena ser compartilhada. </p>
    </section>
    <figure class="col-sm-6">
       <img src="https://cdn.pixabay.com/photo/2015/08/25/06/56/life-history-906281_960_720.jpg" alt="Ilustração de um livro que representa a passagem dos momentos da vida.
" class="imagem-sobre img-fluid rounded mx-auto d-block">
         <figcaption>Minha história de vida</figcaption>
    </figure>
   
</header>
{% endblock conteudo %}